body {
	width: 100%;
	height: 100%;
	margin: 0;
	display: flex;
}

.wide-col {
		width: 66%;
		height: 100%;
	}
/* using this calc equation allows
] me to be more precise width the columns*/
.narrow-col {
	width: calc(100%/3);
	height: 100%;
	display: block;
}

.box {
	height: 50%;
	width: 100%;
}

.blue {background-color: #00FFFF;}
.purple{background-color: #800080;}
.grey {background-color: #D3D3D3;}

/*Everything inside this media query will only 
occur after the page is changed to 600 px width 
making it responsive to the device it is being viewed on */
@media only screen and (max-width: 600px) {
	body{
		display: block;
	}
	.wide-col {
		width: 100%;
		height: 60%;
	}

	.narrow-col {
		width: 100%;
		height: 40%;
		display: flex;
		
	}
	
	.box {
		height:100%;
		width:50%;
	}
}
/* https://philipwalton.github.io/solved-by-flexbox/demos/vertical-centering/ */
/* If you're using 'display: flex' this class can be used to easily center horizontally! */
.center-horizontal{
	align-items: center;
}
/* Keep your image from overflowing it's parent DIV */
.center-vertical{
	justify-content: center;
}

.contain-image {
	max-height: 100%;
	max-width: 50%;
	margin-left:25%;
}